.checkbox, .radio {
	width: 38px;
	height: 50px;
	display: inline-block;
	background-image: url(../images/checkbox.png);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
	vertical-align: middle;
}
.radio {
	background-image: url(../images/radio.png);
	background-repeat: no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(../images/select.png) no-repeat;
	overflow: hidden;
}
